/* Import Tailwind */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Custom styles */
body {
    background: linear-gradient(to bottom right, #1a202c, #4a1d96, #312e81);
    min-height: 100vh;
}

.bg-linear-to-br {
    background: linear-gradient(
        to bottom right,
        var(--tw-gradient-from),
        var(--tw-gradient-via),
        var(--tw-gradient-to)
    );
}

.bg-linear-to-r {
    background: linear-gradient(
        to right,
        var(--tw-gradient-from),
        var(--tw-gradient-to)
    );
}

/* Custom variables */
:root {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Komponen custom */
.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: white;
}
